<footer>
  <h2 class="text-center mt-4">Created by</h2>
  <div class="persona-container">
    <app-persona [name]="'Clea Roth'" [role]="'PhD Research Candidate'" [imgPath]="'img/testimonials/05.jpg'"></app-persona>
    <app-persona [name]="'Finn Fiedler'" [role]="'Software Engineer'" [imgPath]="'img/testimonials/03.jpg'"></app-persona>
    <app-persona [name]="'Tao Belford'" [role]="'Data Scientist'" [imgPath]="'img/testimonials/04.jpg'"></app-persona>
  </div>
  <div class="mt-4">
    <div class="d-flex justify-content-center">
      <p class="font-size-ms mb-2"><span class="mr-1">© All rights reserved.</span></p>
    </div>
  </div>
</footer>
