<div class="d-flex flex-column align-items-center">
  <img src="img/testimonials/03.jpg" width="120px" class="rounded-circle" alt="Circle image">
  <h3 class="h6 mb-1 mt-3">Finn Fiedler</h3>
  <p class="font-size-xs mb-0">Software Engineer</p>
  <div class="d-flex justify-content-center align-items-center">
    <a class="text-decoration-none p-1 mx-2" href="#">
      <i class="fe-facebook"></i>
    </a>
    <a class="text-decoration-none p-1 mx-2" href="#">
      <i class="fe-twitter"></i>
    </a>
    <a class="text-decoration-none p-1 mx-2" href="#">
      <i class="fe-instagram"></i>
    </a>
  </div>
</div>