.investment-activities-page
  display: flex

.filter-menu
  margin: 40px
  // margin-left: 40px
  width: 260px

  div
    margin-top: 80px

#globeContainer
  display: flex
  flex-grow: 1
  align-items: center
  justify-content: center
  height: 100%

@media only screen and (max-width: 1000px)
  .investment-activities-page
    flex-direction: column
    align-items: center

  #globeContainer
    width: 100%

// @media only screen and (max-width: 500px)
//   .filter-menu
    //width: 80%
    // margin-bottom: 40px
